/.vs
/Autofocus/bin
/Autofocus/obj
/Autofocus.Terminal/bin
/Autofocus.Terminal/obj
/Autofocus.Scripts.UltimateUpscaler/bin
/Autofocus.Scripts.UltimateUpscaler/obj
/Autofocus.Tests/bin
/Autofocus.Tests/obj
/frames_depth
/frames_norm
/Autofocus.ImageSharp/bin
/Autofocus.ImageSharp/obj
